body {
  margin: 0;
  overflow: hidden;  /* Prevent scrollbars */
  background-color: #121212;
  user-select: none;
}

@font-face {
  font-family: 'logofont';
  /* Use forward slashes instead of backslashes for paths */
  src: url('Fonts/KyivTypeSans-Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
  font-display: swap; /* Improves performance */
}

canvas {
  display: block; 
}
#ADSA
#navbar
{
  width: 100vw;
  height: 120px;
  background: linear-gradient(to bottom, #2B2B2B 70%, #121212 100%);
  display: flex;
  position: absolute;
  top: -120px;
  left: 0;
}

#logowrapper
{
  display: flex;
}

#logo
{
  position: absolute;
  margin: 0;
  margin-top: 10px;
  font-size: 125px;
  font-family: 'logofont';    
  font-weight: 1000;  
  color: white;
  top: 30vh;
  opacity: 0;
}

#bracket
{
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease-in-out; /* Specify property and duration */
}

#bracket.open
{
  transform: translateX(200px);
}

@keyframes logoToNav
{
  0% {
    transform: translateY(0);
    opacity: 0;
    left: 37vw;
  }
  20% {
    transform: translateY(0);
    font-size: scale(0.3);
    left: 37vw;
  }
  30%
  {
    opacity: 1;
    left: 37vw;
  }
  80% {
    transform: translateY(-82vh);
    scale: 0.4;
    left: 37vw;
  }

  100% {
    left: 0;
    transform: translateY(-82vh);
    scale: 0.4;
    opacity: 1;
  }
}

@keyframes navSlide
{
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(120px);
  }
}
